:root {
  --bg: rgb(0, 0, 0);
  --overlay: rgba(0, 0, 0, 0.8);
  --fg: rgb(255, 119, 0);
  --vib1: 0;
  --vib2: 0;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: 'Geo', monospace;
  font-size: 18px;
  letter-spacing: 0.15em;
  line-height: 1.0em;
}

h1, h2 {
}

small {
  font-size: 0.5em;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#setup {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  border-left: 4px solid var(--fg);
  padding: 3vh 3vw;
  overflow: scroll;
  background: var(--overlay);
  z-index: 2;
}

#monitor {
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 1em;
  background: var(--overlay);
  line-height: 2;
  z-index: 2;
}

#vibrationContainer {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 180px;
  padding: 0;
  border: 1px solid var(--fg);
}

.vibration {
  display: inline-block;
  height: 1em;
  background-color: var(--fg);
}

#vibration1 {
  width: calc(var(--vib1) * 100%);
}

#vibration2 {
  width: calc(var(--vib2) * 100%);
}

a {
  color: var(--fg);
}

button, select {
  cursor: pointer;
  color: var(--fg);
  border: 1px solid var(--fg);
  background: transparent;
  font-size: 16px;
  padding: 0.5em 0.75em;
  font-family: inherit;
}

a:hover, button:hover, select:hover, select:focus {
  color: var(--bg);
  background: var(--fg);
  box-shadow: 0 0 15px var(--fg);
  outline: none;
}

a:active, button:active {
  opacity: 0.9;
}

.ball {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  background: var(--fg);
  animation: vib .01s linear infinite;
  filter: brightness(calc(1 + var(--vib) * 0.2));
}

#ball1 {
  --vib: var(--vib1);
}

#ball2 {
  --vib: var(--vib2);
}

@keyframes vib {
  0% {
    margin-left: calc(var(--vib) * 4px);
    margin-right: calc(var(--vib) * -4px);
  }
  50% {
    margin-left: calc(var(--vib) * -4px);
    margin-right: calc(var(--vib) * 4px);
  }
}
